<div class="footer bg-dark text-white py-4">
    <div class="container text-center">
        <p>&copy; 2025 IBGDEV. All Rights Reserved.</p>
        <p>Designed by <a href="#" class="text-white" target="_blank">Ibrahim Ghorbali</a></p>
        <ul class="list-inline">
            <li class="list-inline-item">
                <a href="#" class="text-white">Privacy Policy</a>
            </li>
            <li class="list-inline-item">
                <a href="#" class="text-white">Terms of Service</a>
            </li>
            <li class="list-inline-item">
                <a href="#" class="text-white">Contact</a>
            </li>
        </ul>
    </div>
</div>