// Define color variables
$primary-bg-color: #52a5a3; /* Main container background color */
$secondary-bg-color: whitesmoke; /* Card background color */
$text-color: #333; /* Heading and default text color */
$paragraph-color: #555; /* Paragraph text color */
$btn-hover-warning: #e0a800; /* Hover color for warning button */
$btn-hover-danger: #c82333; /* Hover color for danger button */
$border-color: black; /* Border color */

// Styles
.container {
    padding-top: 30px;
}

.row.mt-5 {
    background-color: $secondary-bg-color;
    border-radius: 10px;
}

.col-6 {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

h2 {
    font-size: 1.5rem;
    color: $text-color;
    margin-bottom: 15px;
}

p {
    color: $paragraph-color;
    font-size: 1rem;
    text-align: justify;
}

.btn {
    padding: 10px 20px;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-warning:hover {
    background-color: $btn-hover-warning;
}

.btn-danger:hover {
    background-color: $btn-hover-danger;
}

.btn-hover {
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.btn:hover {
    transform: translateY(-2px);
}

.row.mt-5.border {
    border: 2px solid $border-color;
    background-color: $secondary-bg-color;
}


@media (max-width: 767px) {
    .col-12 {
        padding-left: 15px;
        padding-right: 15px;
    }
    .btn {
        width: 100%;
    }
    .row.mt-5 {
        padding: 15px;
    }
    .col-md-6 {
        margin-bottom: 15px;
    }
}
