<div class="table-responsive">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-xs-5">
                    <h2>Gestion des <b>Employés</b></h2>
                </div>
                <div class="col-xs-7" *ngIf="isSuperAdmin">
                    <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AddUser"
                        (click)="workingedit('Ajouter Nouveau Utilisateur')" >
                        <i class="material-icons">&#xE147; </i> <span>Nouveau Utilisateur</span>
                    </a>
                    <button class="btn btn-primary" (click)="exportData()" >
                        <i class="material-icons">&#xE24D;</i> Export to Excel
                    </button>
                </div>
            </div>
        </div>
        <div class="search-container">
            <label for="search" class="search-label">Rechercher des utilisateurs</label>
            <input type="text" id="search" [(ngModel)]="searchTerm" placeholder="Rechercher par nom ou par email" />
        </div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>email</th>
                    <th>Department</th>
                    <th>Date Created</th>
                    <th>Role</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @if (filteredUsers().length == 0) {
                <tr>
                    <td colspan="8" class="text-center">Pas d'employée</td>
                </tr>
                }@else {
                @for(user of filteredUsers(); track $index){
                <tr>
                    <td>{{user.id}}</td> <!-- User id-->
                    <td style="color: rgb(83, 83, 126); font-weight: bold;">{{user.full_name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{getDepartmentName(user.department_id)}}</td> <!-- Creation Date-->
                    <td>{{user.created_at}}</td> <!-- Creation Date-->
                    <td>{{user.role}}</td> <!-- Role -->
                    <td> <!-- Action -->
                        <a (click)="[settings(user.id, user.full_name ,user.email, user.password, user.department_id, user.role),workingedit('Mise a jour  d\'Utilisateur')]"
                            data-bs-toggle="modal" data-bs-target="#AddUser" class="settings cursor" title="Settings"
                            data-toggle="tooltip"><i class="material-icons">&#xE8B8;</i></a>
                        <a (click)="deleteEmployee(user.id)" class="delete cursor" title="Delete"
                            data-toggle="tooltip"><i class="material-icons">&#xE5C9;</i></a>
                    </td>
                </tr>
                }

                }

            </tbody>
        </table>
    </div>
</div>

<!-- Add new User Modal -->
<div class="modal fade" id="AddUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">{{working}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addUserForm" #addUserForm="ngForm" (ngSubmit)="addAccount()">
                    <!-- FullName -->
                    <div class="mb-3">
                        <label for="full-name" class="col-form-label">Nom complet:</label>
                        <input type="text" class="form-control" name="full_name" [(ngModel)]="full_name"
                            #fullnameModal="ngModel" required>
                        <div *ngIf="fullnameModal.invalid && fullnameModal.touched" class="text-danger small">
                            <div *ngIf="fullnameModal.errors?.['required']">Le nom complet est obligatoire.</div>
                        </div>
                    </div>

                    <!-- Email -->
                    <div class="mb-3">
                        <label for="email" class="col-form-label">Email:</label>
                        <input type="email" class="form-control" name="email" [(ngModel)]="email" #emailModal="ngModel"
                            email required>
                        <div *ngIf="emailModal.invalid && emailModal.touched" class="text-danger small">
                            <div *ngIf="emailModal.errors?.['required']">L'adresse e-mail est obligatoire.</div>
                            <div *ngIf="emailModal.errors?.['email']">Veuillez entrer une adresse e-mail valide.</div>
                        </div>
                    </div>

                    <!-- Password -->
                    <div class="mb-3">
                        <label for="password" class="col-form-label">Mot de passe:</label>
                        <input type="password" class="form-control" name="password" [(ngModel)]="password"
                            #passwordModal="ngModel" required>
                        <div *ngIf="passwordModal.invalid && passwordModal.touched" class="text-danger small">
                            <div *ngIf="passwordModal.errors?.['required']">Le mot de passe est obligatoire.</div>
                        </div>
                    </div>

                    <!-- Department -->
                    <div class="mb-3" *ngIf="isSuperAdmin">
                        <label for="department" class="col-form-label">Département:</label>
                        <select class="form-control" name="department" [(ngModel)]="department"
                            #departmentModal="ngModel" required>
                            <option *ngFor="let dept of departments" [value]="dept.id">
                                {{ dept.department_name }}
                            </option>
                        </select>
                        <div *ngIf="departmentModal.invalid && departmentModal.touched" class="text-danger small">
                            <div *ngIf="departmentModal.errors?.['required']">Le département est obligatoire.</div>
                        </div>
                    </div>

                    <!-- Role -->
                    <div class="mb-3" *ngIf="isSuperAdmin">
                        <label for="role" class="col-form-label">Rôle:</label>
                        <select class="form-control" name="role" [(ngModel)]="role" #roleModal="ngModel" required>
                            <option value="Employee">Employee</option>
                            <option value="Admin">Admin</option>
                        </select>
                        <div *ngIf="roleModal.invalid && roleModal.touched" class="text-danger small">
                            <div *ngIf="roleModal.errors?.['required']">Le role est obligatoire.</div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                <!-- Submit Button -->
                <button class="btn btn-primary" [disabled]="addUserForm.invalid" (click)="addAccount()">Enregistrer
                    Utilisateur</button>

            </div>
        </div>
    </div>
</div>