<div class="table-responsive">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-xs-5">
                    <h2>Gestion des <b>Département</b></h2>
                </div>
                <div class="col-xs-7">
                    <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Adddepartment">
                        <i class="material-icons">&#xE147; </i> <span>Nouveau Département</span>
                    </a>
                </div>
            </div>
        </div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nom de Département</th>
                    <th>Administrateur</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @for(department of departments; track $index){
                <tr>
                    <td>{{department.id}}</td> <!-- department id-->
                    <td style="color: rgb(83, 83, 126); font-weight: bold;">{{department.department_name}}</td>
                    <td>{{ department.admin_id ? getUserName(department.admin_id) : "sans d'admin" }}</td>
                    <td> <!-- Action -->
                        <a data-bs-toggle="modal" data-bs-target="#Adddepartment" class="settings cursor"
                            title="Settings" data-toggle="tooltip"><i class="material-icons">&#xE8B8;</i></a>
                        <a class="delete cursor" title="Delete" data-toggle="tooltip"><i
                                class="material-icons">&#xE5C9;</i></a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<!-- Add new User Modal -->
<div class="modal fade" id="Adddepartment" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    #addDepartmentModal>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Ajouter un nouveau département</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addDepartmentForm" #addDepartmentForm="ngForm" (ngSubmit)="addDepartment()">
                    <!-- department name -->
                    <div class="mb-3">
                        <label for="full-name" class="col-form-label">Nom de département :</label>
                        <input type="text" class="form-control" name="department_name" [(ngModel)]="department_name"
                            #DepartmentModal="ngModel" required>
                        <div *ngIf="DepartmentModal.invalid && DepartmentModal.touched" class="text-danger small">
                            <div *ngIf="DepartmentModal.errors?.['required']">Le nom de département est obligatoire.
                            </div>
                        </div>
                    </div>
                    <!-- Admin -->
                    <div class="mb-3">
                        <label for="department" class="col-form-label">Choisir l'Administrateur :</label>
                        <select class="form-control" name="users" [(ngModel)]="user" #userModal="ngModel">
                            <option value=""></option>
                            @for(user of users; track $index){
                                @if(user.role == "admin" && user.id != 0){
                                    <option value="{{user.id}}">{{user.full_name}}</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                        <button type="submit" class="btn btn-primary" [disabled]="addDepartmentForm.invalid">Enregistrer
                            Département</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>