<div class="demandes-container">
    <!-- Mini Navbar -->
    <div class="mini-navbar">
        <button class="nav-btn " (click)="viewSection = 'newDemande'">Nouvelle Demande</button>
        <button class="nav-btn" (click)="viewSection = 'viewDemandes'">Mes Demandes</button>
    </div>

    <!-- Add New Demande Section -->
    <div class="card shadow" *ngIf="viewSection === 'newDemande'">
        <h2>Nouvelle Demande</h2>
        <form>
            <div class="form-group-type">
                <label for="demandeType">Type de Demande</label>
                <select id="demandeType" [(ngModel)]="newDemande" name="type" required>
                    <option value="" disabled selected>Choisir un type de demande</option>
                    @for (type of TypeDemade; track $index) {
                    <option [value]="type">{{type}}</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <!-- demande de congé -->
                @switch (newDemande) {
                @case ('Congé') {
                <div class="demande shadow m-4">
                    <app-conge (congeData)="handleCongeData($event)"></app-conge>
                </div>
                }
                @case ('Matériel'){
                <div class="demande shadow m-4">
                    <app-materiel (materielData)="handleMaterielData($event)"></app-materiel>
                </div>
                }
                @case ('Avance'){
                <div class="demande shadow m-4">
                    <app-avance (avanceData)="handleAvancelData($event)"></app-avance>
                </div>
                }
                @case ('Sortie'){
                <div class="demande shadow m-4">
                    <app-sortie (sortieData)="handleSortielData($event)"></app-sortie>
                </div>
                }
                @case ('Autre'){
                <div class="demande shadow m-4">
                    <app-autre (autreData)="handleAutrelData($event)"></app-autre>
                </div>
                }
                }

            </div>
        </form>
    </div>

    <!-- View Demandes Section -->
    <div class="card shadow" *ngIf="viewSection === 'viewDemandes'">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-xs-5">
                            <h2>Mes <b>Demandes</b></h2>
                        </div>
                    </div>
                </div>
                <div class="filter-container">
                    <label for="demandeFilter" class="filter-label">Filtrer par type de demande</label>
                    <select id="demandeFilter" class="filter-select"  [(ngModel)]="filterType" (change)="onFilterChange()">
                        <option value="">Tous</option>
                        @for (type of TypeDemade; track $index) {
                        <option [value]="type">{{type}}</option>
                        }
                    </select>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Type</th>
                            <th>Détails</th>
                            <th>Date</th>
                            <th>Statut</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let demande of demandes; let i = index">
                            <td>{{ demande.id }}</td>
                            <td>{{ demande.type }}</td>
                            <td>{{ demande.Details }}</td>
                            <td>{{ demande.created_at }}</td>
                            @switch (demande.status) {
                                @case(demande.status == 'accepté'){
                                    <td><span class="badge rounded-pill bg-success">{{ demande.status }}</span></td>
                                }
                                @case(demande.status == 'refusé'){
                                    
                                    <td><span class="badge rounded-pill bg-danger">{{ demande.status }}</span></td>
                                }
                                @default {
                                    <td><span class="badge rounded-pill bg-secondary">{{ demande.status }}</span></td>
                                }
                            }
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>