// Import Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Playwrite+ES+Deco+Guides&family=Roboto+Slab:wght@100..900&display=swap');

// Color Variables
$primary-color: #52a5a3;
$secondary-color: #112030;
$text-color: whitesmoke;
$link-color: #768788;
$focus-shadow-color: rgba(#52a5a3, 0.25);

// Styles
.login-card {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;
}

.logo-card {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card form {
    width: 450px;
}

form {
    h1 {
        font-family: "Noto Sans JP", serif;
        font-optical-sizing: auto;
        font-style: normal;
        text-align: center;
        font-weight: bold;
        color: $secondary-color;
    }

    button {
        background-color: $secondary-color;
        color: $text-color;
    }

    .links {
        color: $link-color;
    }
}

input:focus {
    border-color: $focus-shadow-color !important;
    box-shadow: 0 0 0 0.25rem $focus-shadow-color;
}

input[type='checkbox']:checked {
    background-color: $primary-color;
    border-color: $primary-color;
}

.alert {
    padding: 5px;
}