<h2>Gestion des <b>Demandes</b></h2>
<div class="filter-container">

    <select [(ngModel)]="searchType" (change)="applyFilters()" class="form-select">
        <option value="">Tous Types</option>
        <option *ngFor="let type of demandTypes" [value]="type">{{ type }}</option>
    </select>
    <input type="date" [(ngModel)]="searchDate" (change)="applyFilters()" class="form-control" />
    <select name="searchemployee" (change)="applyFilters()" [(ngModel)]="searchEmployee" class="form-select">
        <option value="">Tous les employés</option>
        <option *ngFor="let user of users" [value]="user.id">{{ user.full_name }}</option>
    </select>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Employé</th>
            <th>Type</th>
            <th>Détails</th>
            <th>Date</th>
            <th>Statut</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let demande of filteredDemandes">
            <td>{{ demande.id }}</td>
            <td>{{ getUserName(demande.user_id) }}</td>
            <td>{{ demande.type }}</td>
            <td>{{ demande.Details }}</td>
            <td>{{ demande.created_at }}</td>
            <td>
                <span
                    [class]="'badge rounded-pill ' + (demande.status === 'accepté' ? 'bg-success' : demande.status === 'refusé' ? 'bg-danger' : 'bg-secondary')">
                    {{ demande.status }}
                </span>
            </td>
            <td>
                <span [hidden]="demande.status != 'en attente'">
                    <a (click)="acceptDemande(demande.id)" style="cursor: pointer;"><i class="fa-solid fa-check fa-xl" style="color: #63E6BE;"></i></a>
                    <a (click)="rejectDemande(demande.id)" style="cursor: pointer;"><i class="fa-solid fa-xmark fa-xl" style="color: #e01b24;"></i></a>
                </span>
                <a (click)="printDemande(demande.id)" style="cursor: pointer;" [hidden]="demande.status === 'en attente' || demande.status != 'accepté'"><i class="fa-solid fa-print fa-lg" style="color: #74C0FC;"></i></a>
            </td>
        </tr>
    </tbody>
</table>